.body {
  background-color: rgb(241, 250, 241);
  max-width: 1920px;
  margin: 0 auto;
}

i {
  margin-right: 8px;
}

.hello {
  display: inline-block;
  position: relative;
  padding-left: 80px;
}
.hello::after {
  background-color: #d0d0d0;
  position: absolute;
  width: 60px;
  height: 2px;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-nav-bg {
  background-image: url("https://img.freepik.com/free-vector/realistic-background-futuristic-style_23-2149129125.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-bg-img {
  background: url("/contact_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  /* 
    filter: blur(3px) grayscale(50%);
    background-image: url("../../../public/contact_bg.jpg");
    filter: grayscale(100%); 
    
    */
}




.feature{
  position: relative;
  width: 100%;
  height: 100%;
  
}
.social-icon li{
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color: #198754;
}
.social-icon li:hover{
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.feature-item{
  position: absolute;
  animation: upDown 8s infinite linear;
  width: 100%;
  height: 100%;
}

.img1{
  width: 60px;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-80%,-90%);
  animation: upDown 8s infinite linear;
}
.img2{
  width: 60px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-100%);
  animation: upDown 4s infinite linear reverse;
}
.img3{
  width: 60px;
  position: absolute;
  top: 25%;
  right: 15%;
  transform: translate(-85%,-75%);
  animation: upDown 5s infinite ease-in-out;
}

.img4{
  width: 60px;
  position: absolute;
  top: 70%;
  right: 15%;
  transform: translate(-85%,-30%);
  animation: upDown 7s infinite ease-in-out reverse;
}

.img5{
  width: 60px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-10%);
  animation: upDown 11s infinite linear;
}

.img6{
  width: 60px;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-80%,-20%);
  animation: upDown 5s infinite ease;
}

.img7{
  width: 60px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-85%,-50%);
  animation: upDown 9s infinite ease-in-out;
}


.feature-img{
  animation: upDown 8s infinite linear;
  
}

@keyframes upDown {
  0% { 
    transform: rotate(0deg) translateY(10px) rotate(0deg); 
} 

100% { 
    transform: rotate(360deg) translateY(10px) rotate(-360deg); 
} 
  /* 0%{transform: translateY(-20px);}
  50%{transform: translateY(20px); }
  100%{transform: translateY(-20px);} */
} 












.zoom {
  transition: transform 0.8s;
}
.zoom:hover {
  transform: scale(1.1);
}

.contact-info .item {
  width: 100%;
  overflow: hidden;
}

.contact-info .item .icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.contact-info .item .icon i {
  margin: 0;
}

.contact-info .item .content {
  overflow: hidden;
}

.review-img {
  transition: transform 0.8s;
}
.review-img:hover {
  transform: scale(1.1);
}

.goto-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: yellow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.goto-top:hover {
  background: #198754;
  color: yellow;
  transition: all 0.3s ease-in-out;
}


.portfolio-card{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.portfolio-card-overlay {
    background: #198754d3;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .portfolio-card:hover .portfolio-card-overlay {
    bottom: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  .portfolio-card-overlay-inner{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }






.h-300{
  height: 300px;
}