.body {
  background-color: rgb(241, 250, 241);
  max-width: 1920px;
  margin: 0 auto;
}

.about i, .blog i {
  margin-right: 8px;
}


.zoom {
  transition: transform 0.8s;
}
.zoom:hover {
  transform: scale(1.1);
}






.review-img {
  transition: transform 0.8s;
}
.review-img:hover {
  transform: scale(1.1);
}




.goto-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: yellow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.goto-top:hover {
  background: #198754;
  transition: all 0.3s ease-in-out;
}
.goto-top:hover svg{
  fill: white;
  transition: all 0.3s ease-in-out;
}


.portfolio-card{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.portfolio-card-overlay {
    background: #198754d3;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .portfolio-card:hover .portfolio-card-overlay {
    bottom: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  .portfolio-card-overlay-inner{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }






.h-300{
  height: 300px;
}