

.body{
    background-color: rgb(228, 255, 227);
}

i{
    margin-right: 8px;
}

.home-nav-bg{
    background-image: url("https://th.bing.com/th/id/R.865012e4c2d7c2c7ed619e854c6ca579?rik=L%2fIYeFhS%2f3Z5Rg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fzwCETTo.jpg&ehk=zPBHsOuOj3D5bw4VQJ5PRbR4xoiD8K2S6uk2p%2bTMadk%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    
}