.sidebar{
    width: 250px !important;
    position: fixed;
    height: 100vh;
    overflow: auto;
    z-index: 999;
}
.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar .menu > ul{
    display: flex;
    flex-direction: column;
}

.sidebar .menu ul li{
    background-color: white;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
}
.sidebar .menu ul li i{
    margin-right: 7px;
}




/*/////// Content ///////////////////////*/
.content{
    background-color: #eaeaea;
    width: calc(100% - 250px) !important;
    margin-left: 250px;
}



@media  (max-width: 960px) {
    .sidebar{
        width: 180px !important;
    }

    .content{
        margin-left: 150px;
    }
}

@media  (max-width: 768px) {
    .sidebar{
        width: 90px !important;
    }

    .content{
        margin-left: 90px;
    }
}