.blogDetails p{
    font:1.3em Georgia, sans-serif;
    letter-spacing: inherit;
    line-height: inherit;
}

.blogDetails h2, .blogDetails h1{
    font-size: 1.8em;
    font-weight: bold;
}
.blogDetails h3{
    font: 1.6em 'Georgia', sans-serif;
}

.blogDetails ul{
    margin-left: 8px;
}
.blogDetails ul li{
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 12px 0;
}

.blogDetails .content img{
    width: 100%;
    height: auto;
}

.blogDetails .content a{
    font: 1.2em 'Georgia', sans-serif;
    text-decoration: none;

}